<html>
  <head>
      <title>Accessions</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  <h1 style="padding: 10px;">Accessions</h1>
    <table style="margin: 10px;">
        <tr><th>ID</th></tr>
        #foreach( $a in $accessions )
            #set( $auri = $a["a"] )
            #set( $aname = $helper.uriToId( $auri ) )
            <tr><td><a href="/accessions/$aname">$aname</a></td></tr>
        #end
    </table>
  </body>
</html>