<html>
	<head>
		<title>$aname : Bag $bname Image Sets</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script type="text/javascript" src="/main.js"></script>
	</head>
	<body>
		<div class="breadcrumbs">
			<a href="/accessions">Accessions</a>
			<span class="hierarchy-separator" />
			<a href="/accessions/$aname">$aname</a>
			<span class="hierarchy-separator" />
			<a href="/accessions/$aname/bags/$bname">$bname</a>
			<span class="hierarchy-separator" />
		</div>
	    <div class="title">
			<h1>Image sets of $bname</h1>
		</div>
		<div class="title">
			<h3>Title:</h3>
			<h2>$btitle</h2>
		</div>
		<p>Image sets can take some time to be indexed. If you do not see an image set you just created or edited, try refreshing the page in a few minutes.</p>
		<table style="float:left;">
	        <tr><th>Set Name</th><th>Date Created</th><th>Edit</th></tr>
	        #foreach( $i in $imageSets )
	            #if ($i["size"] == "")
	              <tr class="missing-file">
	                <td>$i["id"]</td>
	                <td>(not in fedora)</td>
	                <td>N/A</td>
	            #else
	              <tr>
	                <td>$i["id"]</td>
	                <td>$i["date"]</td>
	                <td><button type="button" id="editButton" value="Edit image set" onclick=editImageSet($i["id"],$i["uri"])>Edit</button></td>
	            #end
	            </tr>
	        #end
	    </table>
	    
	    <p id="p"></p>
	</body>
</html>