body {
    font-family: sans-serif;
}

table {
    border: 2px solid #501040;
}

th {
    background-color: #501040;
    color: white;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.hierarchy-separator::before {
    content: "/";
}

th.missing-file {
    font-style: italic;
}